<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="bg-gray-100 flex items-center  justify-center min-h-screen">
   <div class="bg-white w-full max-w-4xl mx-auto shadow-lg rounded-lg p-10 my-10 border">
      <div class="text-center mb-8">
        <h1 class="text-4xl font-bold text-gray-800">{{user_profile.name}}</h1>
        <p   class="text-lg text-gray-600">{{user_profile.phone}} | {{user_profile.email}}</p>
      </div>
      <div class="border-b pb-4 mb-6">
        <h2 class="text-2xl  font-semibold text-gray-800 mb-2">Education</h2>
        <p><span class="font-bold">Degree:</span>{{user_profile.degree}}</p>
        <p><span class="font-bold">School:</span>{{user_profile.school}}</p>
        <p><span class="font-bold">University:</span>{{user_profile.university}}</p>
      </div>

      <div class="border-b pb-4 mb-6">
        <h2 class="text-2xl  font-semibold text-gray-800 mb-2">Professional Summary</h2>
        <p class="text-gray-600 leading-relaxed">{{user_profile.summary}}</p>
       
      </div>

      <div class="border-b pb-4 mb-6">
        <h2 class="text-2xl  font-semibold text-gray-800 mb-2">Work Experience</h2>
        <p class="text-gray-600 leading-relaxed">{{user_profile.previous_work}}</p>
       
      </div>

       <div class="border-b pb-4 mb-6">
        <h2 class="text-2xl  font-semibold text-gray-800 mb-2">Skill</h2>
        <p class="text-gray-600 leading-relaxed">{{user_profile.skil}}</p>
       
      </div>
      <div class="text-center">
        <button onclick="window.print()" class="bg-blue-600 text-while px-6 py-2 rounded-md shadow">Print CV</button>
        <a  class="bg-gray-600 text-while px-6 py-2 rounded-md shadow" href="">Back to home </a>
        <a class="bg-gray-600 text-white px-6 py-2 rounded-md shadow"
        href="{% url 'download_resume' user_profile.id %}">
        Download Resume
        </a>
      </div>

      
   </div> 

</body>
</html>




